{
    "subreddits_to_search": [
        {
            "subreddit": "photomarket",
            "keywords": ["r6"],
            "cooldown_minutes": 10
        },
        {
            "subreddit": "gamedeals",
            "keywords": ["free"],
            "cooldown_minutes": 5
        }
    ]
}
