{
    "subreddits_to_search": [
        {"subreddit": "photomarket", "keywords": ["r6"]},
        {"subreddit": "frugalmalefashion", "keywords": ["porter"]},
        {"subreddit": "gamedeals", "keywords": ["prime"]},
        {"subreddit": "gamedeals", "keywords": ["free"]}
    ],
    "iteration_time_minutes": 5
}
